* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
html {
	font-family: 'Livvic', sans-serif;
}
body {
    font-size:16px;
    overflow-x: hidden;
	background-image:linear-gradient(#474CE4, #ED62CF);
	color: #FFFFFF;
}
/*HEADER*/
header {
	background-color: #000;
}
header img {
	width:30%;
	margin:5px;
}
nav {
	margin:0;
}
.navbar {
	background-color: #000;
	display:flex;
	justify-content: space-around;
	align-items: center;
}
.line {
	width:30px;
	height: 3px;
	background-color: #fff;
	margin: 5px;
}
.burger {
	display: block;
	cursor: pointer;
	margin:1rem;
}
.nav-links {
	position:absolute;
	height:100%; 
	width:100%;
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background:#000;
	transform:translateX(100%);
	transition: .6s ease-in;
	z-index: 2;
	overflow-x: hidden;
}
.nav-active {
	transform: translateX(0%);
}

.nav-links li {
	list-style: none;
	opacity: 0;
}
.nav-links li a {
	color:#fff;
	text-decoration: none;
	font-size:1.7rem;
	letter-spacing: 3px;
	font-weight:600;
}


/*button scroll up*/
#scrollup {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 99;
  font-size: 1.3rem;
  border: none;
  outline: none;
  background-color: #474CE4;
  color: white;
  cursor: pointer;
  padding: 0.6rem 1rem 0.8rem;
  border-radius: 50px;
  font-weight: 500;
}

#scrollup:hover {
  background-color: #ED62CF;
}


/*SLIDE*/
.landing1, .landing2 {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
}
.landing1 img {
	width:100%;
}
.choice {
	display: flex;
	flex-wrap: wrap;
	width:100%;
	z-index: 1;}

.bloc {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  transition: .5s ease;
  background-color: #474CE4;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity:1;
  width:100%;
}
.text a {
	text-decoration: none;
	font-size: 1.8rem;
	color: #fff;
	display:block;
}


/*FOOTER*/
.contenu_footer a {
	text-decoration: none;
	color:#fff;
}

/* PARTIE RESPONSIVE. Le choix a été fait de diviser le bloc responsive en 3 sous-blocs : me premier de 0px à 600px, on copie alors
tout le contenu CSS en modifiant les parties s'adaptant à la version mobile ; un second de 600 à 1024px où on a de nouveau recopié
l'ensemble du contenu CSS en modifiant les parties concernées ; un troisième et dernier bloc qui concerne les résolutions supérieures 
à 1024px ; même procédé. Ce n'est pas la méthode la moins économe et la moins gourmande en travail, mais c'est la seule qui fonctionnait. */


@media screen and (max-width: 600px) {
	body {
	background-image:linear-gradient(#474CE4, #ED62CF);
	color: #FFFFFF;
	margin: 0px;
	}
	h2 {
		font-size: 45px;
		margin-top: 15px;
		margin-bottom: 15px;
		color : #FFFFFF;
	}
	section {
		text-align: center;
	}
	.OiAku {
		font-size: 39px;
		font-variant: small-caps;
		font-weight: bold;
		letter-spacing: 5px;
		margin: auto;
		margin-top: 40px;
		width: 40%;	
	}
	.OiAku_traduction {
		font-size: 15px;
		font-style: italic;
		margin-top: 5px;
		margin-bottom: 30px;
	}
	.our_history {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right:40px;
		margin-left: 40px;
	}
	.OiAku_p1, .OiAku_p2, .OiAku_p3 {
		margin-right: 30px;
	    margin-left: 30px;
	    margin-bottom: 20px;
	    font-size: 14px;
	    cursor: default;
	    transition-property: font-size;
	    transition-duration: 4s;
	    transition-delay: 2s;
	}
	.OiAku_p1:hover, .OiAku_p2:hover, .OiAku_p3:hover {
		transform: scale(1.2);
		box-shadow: black;

	}
	.où_nous_trouver, .nous_contacter {
		font-size: 20px;
	}
	.trouver_contacter {
		display: flex;
		justify-content: space-between;
		font-style: bold;
	}
	.vague_blanche2 {
		display: flex;
		justify-content: center;
	}
	h2 {
		text-align: center;
	}
	.trouver_contacter {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.où_nous_trouver {
		display: flex;
		flex-direction: column;
	    justify-content: center;
	    align-items: center;
    	width: 80%;
	}
	.titre_maps {
		border-bottom: 10px;
	}
	.nous_contacter {
		background-color: #FFFFFF;
		color: #ED62CF;
	    width: 50%;
	    height: 40px;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    margin-left: 20px;
	    margin: 50px;
	}
	.nous_contacter p {
		margin-left: 20px;
	}
	iframe {
	height: 300px;
    width: 60%;
    margin-top: 5px;
	}
	form {
		background-color: #FFFFFF;
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    width: 100%;
	    margin-right: 20px;
	    margin-left: 20px;
	    border: #FFFFFF solid 1px;
	    border-bottom: #FFFFFF solid 15px;
	}
	input{
		margin-bottom: 10px;
		width: 95%;
		height: 45px;
		border: solid white 1px;
		border-radius: 10px;
		background-color: #d45fd2;
		color: #9d58d9;
	}
	input:hover, textarea:hover {
		cursor: text;
		background-color: #e8e8e2;
	}
	textarea {
		width: 95%;
		border: solid white 1px;
		border-radius: 10px;
		background-color: #d45fd2;
		color: #9d58d9;
	}
	::placeholder {
		color: #FFFFFF;
	}
	.P_input {
		display: flex;
		justify-content: center;
	}
	.container_send {
		display: flex;
	    height: 20px;
	    justify-content: center;
	    width: 40%;
	}
	.send {
		width: 71px;
	    height: 31px;
	    margin-top: 0px;
	    background-color: #E8E8E2;
	}
	.send:hover {
		cursor: default;
		background-color: white;
		transform: scale(1.1);
	}
	footer {
		background-color: black;
		width: 100%;
		height: 100px;
	}
	.contenu_footer {
		width: 100%;
	    justify-content: space-between;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	    height: 100px;
	}

	.vague_blanche {
		width: 35%;
		margin-top: 30px;
	}
	.logo_facebook, .logo_instagram {
		width:  35px;
		height: 35px;
		border-radius: 50%;
	}
	.logo_soundcloud {
		width:  35px;
		height: 35px;
		margin-left:  50px;
		margin-right: 50px;
		border-radius: 50%;
	}
	.logos {
		text-align: center;
		margin-bottom: 15px;
		margin-top: 250px;
	}
	.logo_facebook:hover, .logo_instagram:hover, .logo_soundcloud:hover {
		cursor: pointer;
		transform: scale(1.25);
	}
}












@media (min-width: 600px) and (max-width: 1024px) {
	body {
	background-image:linear-gradient(#474CE4, #ED62CF);
	color: #FFFFFF;
	margin: 0px;
	}
	h2 {
		font-size: 45px;
		margin-top: 15px;
		margin-bottom: 15px;
		color : #FFFFFF;
	}
	section {
		text-align: center;
	}
	.OiAku {
		font-size: 80px;
		font-variant: small-caps;
		font-weight: bold;
		letter-spacing: 5px;
		margin: auto;
		margin-top: 40px;
		width: 40%;	
	}
	.OiAku_traduction {
		font-size: 15px;
		font-style: italic;
		margin-top: 5px;
		margin-bottom: 60px;
	}
	.our_history {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right:40px;
		margin-left: 40px;
	}
	.OiAku_p1, .OiAku_p2, .OiAku_p3 {
		margin-right: 30px;
	    margin-left: 30px;
	    margin-bottom: 20px;
	    font-size: 14px;
	    cursor: default;
	    transition-property: font-size;
	    transition-duration: 4s;
	    transition-delay: 2s;
	}
	.OiAku_p1:hover, .OiAku_p2:hover, .OiAku_p3:hover {
		transform: scale(1.2);
		box-shadow: black;

	}
	.où_nous_trouver, .nous_contacter {
		font-size: 20px;
	}
	.trouver_contacter {
		display: flex;
		justify-content: space-between;
		font-style: bold;
	}
	.vague_blanche2 {
		display: flex;
		justify-content: center;
	}
	h2 {
		text-align: center;
	}
	.trouver_contacter {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.où_nous_trouver {
		display: flex;
		flex-direction: column;
	    justify-content: center;
	    align-items: center;
    	width: 80%;
	}
	.titre_maps {
		border-bottom: 10px;
	}
	.nous_contacter {
		background-color: #FFFFFF;
		color: #ED62CF;
	    width: 50%;
	    height: 40px;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    margin-left: 20px;
	    margin: 50px;
	}
	.nous_contacter p {
		margin-left: 20px;
	}
	iframe {
	height: 300px;
    width: 60%;
    margin-top: 5px;
	}
	form {
		background-color: #FFFFFF;
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    width: 100%;
	    margin-right: 20px;
	    margin-left: 20px;
	    border: #FFFFFF solid 1px;
	    border-bottom: #FFFFFF solid 15px;
	}
	input{
		margin-bottom: 10px;
		width: 95%;
		height: 45px;
		border: solid white 1px;
		border-radius: 10px;
		background-color: #d45fd2;
		color: #9d58d9;
	}
	input:hover, textarea:hover {
		cursor: text;
		background-color: #e8e8e2;
	}
	textarea {
		width: 95%;
		border: solid white 1px;
		border-radius: 10px;
		background-color: #d45fd2;
		color: #9d58d9;
	}
	::placeholder {
		color: #FFFFFF;
	}
	.P_input {
		display: flex;
		justify-content: center;
	}
	.container_send {
		display: flex;
	    height: 20px;
	    justify-content: center;
	    width: 40%;
	}
	.send {
		width: 71px;
	    height: 31px;
	    margin-top: 0px;
	    background-color: #E8E8E2;
	}
	.send:hover {
		cursor: default;
		background-color: white;
		transform: scale(1.1);
	}
	footer {
		background-color: black;
		width: 100%;
		height: 50px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	.contenu_footer {
		color: #FFFFFF;
		display: flex;
		width: 100%;
		justify-content: space-around;
	}
	.vague_blanche {
		width: 35%;
		margin-top: 60px;
	}
	.logo_facebook, .logo_instagram {
		width:  35px;
		height: 35px;
		border-radius: 50%;
	}
	.logo_soundcloud {
		width:  35px;
		height: 35px;
		margin-left:  50px;
		margin-right: 50px;
		border-radius: 50%;
	}
	.logos {
		text-align: center;
		margin-bottom: 15px;
		margin-top: 250px;
	}
	.logo_facebook:hover, .logo_instagram:hover, .logo_soundcloud:hover {
		cursor: pointer;
		transform: scale(1.25);
	}
}













@media screen and (min-width: 1024px) {
	body {
	background-image:linear-gradient(#474CE4, #ED62CF);
	color: #FFFFFF;
	margin: 0px;
	}
	h2 {
		font-size: 45px;
		margin-top: 15px;
		margin-bottom: 15px;
		color : #FFFFFF;
	}
	section {
		text-align: center;
	}
	.OiAku {
		font-size: 80px;
		font-variant: small-caps;
		font-weight: bold;
		letter-spacing: 5px;
		margin: auto;
		margin-top: 40px;
		width: 40%;	
	}
	.OiAku_traduction {
		font-size: 15px;
		font-style: italic;
		margin-top: 5px;
		margin-bottom: 60px;
	}
	.our_history {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.OiAku_p1, .OiAku_p2, .OiAku_p3 {
		margin-right: 30px;
	    margin-left: 30px;
	    font-size: 14px;
	    cursor: default;
	    transition-property: font-size;
	    transition-duration: 4s;
	    transition-delay: 2s;	
	}
	.OiAku_p1:hover, .OiAku_p2:hover, .OiAku_p3:hover {
		transform: scale(1.2);
		box-shadow: black;

	}
	.où_nous_trouver, .nous_contacter {
		font-size: 20px;
	}
	.trouver_contacter {
		display: flex;
		justify-content: space-between;
		font-style: bold;
	}
	.vague_blanche2 {
		display: flex;
		justify-content: center;
	}
	h2 {
		text-align: center;
	}
	.trouver_contacter {
		margin-top: 20px;
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;

	}
	.où_nous_trouver {
		display: flex;
		flex-direction: column;
	    justify-content: center;
	    align-items: center;
    	width: 80%;
	}
	.titre_maps {
		border-bottom: 10px;
	}
	.nous_contacter {
		background-color: #FFFFFF;
		color: #ED62CF;
	    width: 64%;
	    height: 50px;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    margin-left: 20px;
	}
	.nous_contacter p {
		margin-left: 20px;
	}
	iframe {
	height: 300px;
    width: 80%;
    margin-top: 5px;
	}
	form {
		background-color: #FFFFFF;
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    width: 100%;
	    margin-right: 20px;
	    margin-left: 20px;
	    border: #FFFFFF solid 1px;
	    border-bottom: #FFFFFF solid 15px;
	}
	input{
		margin-bottom: 10px;
		width: 95%;
		height: 45px;
		border: solid white 1px;
		border-radius: 10px;
		background-color: #d45fd2;
		color: #9d58d9;
	}
	input:hover, textarea:hover {
		cursor: text;
		background-color: #e8e8e2;
	}
	textarea {
		width: 95%;
		border: solid white 1px;
		border-radius: 10px;
		background-color: #d45fd2;
		color: #9d58d9;
	}
	::placeholder {
		color: #FFFFFF;
	}
	.P_input {
		display: flex;
		justify-content: center;
	}
	.container_send {
		display: flex;
	    height: 20px;
	    justify-content: center;
	    width: 40%;
	}
	.send {
		width: 71px;
	    height: 31px;
	    margin-top: 0px;
	    background-color: #E8E8E2;
	}
	.send:hover {
		cursor: default;
		background-color: white;
		transform: scale(1.1);
	}
	footer {
		background-color: black;
		width: 100%;
		height: 50px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	.contenu_footer {
		color: #FFFFFF;
		display: flex;
		width: 100%;
		justify-content: space-around;
	}
	.vague_blanche {
		width: 35%;
		margin-top: 60px;
	}
	.logo_facebook, .logo_instagram {
		width:  35px;
		height: 35px;
		border-radius: 50%;
	}
	.logo_soundcloud {
		width:  35px;
		height: 35px;
		margin-left:  50px;
		margin-right: 50px;
		border-radius: 50%;
	}
	.logos {
		text-align: center;
		margin-bottom: 15px;
		margin-top: 45px;
	}
	.logo_facebook:hover, .logo_instagram:hover, .logo_soundcloud:hover {
		cursor: pointer;
		transform: scale(1.25);
	}
	.line, .burger {
		display:none;
	}
	.landing1 img {
		width:80%;
	}
	.landing1 {
		background-color: #000;
	}	

	.bloc  {
		height:50vh;
	}

	.bloc:hover .overlay {
		opacity: 1;
	}
	.text a {
		display: block;
	}

	.container  {
		height:50vh;
	}
	.container:hover .overlay {
		opacity: 1;
	}

	.overlay {
		opacity: 0;
	}

	.nav-links {
		transform:translateX(0%);
		height:auto;
		position:relative;
		flex-direction: row;
		justify-content: flex-end;
		padding:2rem;	
	}
	.nav-links li {
		opacity: 1;
		width:13rem;
		text-align: center;
	}

	.nav-links li a {
		padding:2rem;
	}

	.menulong {
		display:flex;
	}

	.nav-links a:hover {
		background-color:#ED62CF;
	}

	.nav-links a:active {
		font-weight: 900;
		color:#ED62CF;
	}
}






@keyframes navLinkFade {
	from{
		opacity: 0;
		transform: translate(50px);
	}
	to {
		opacity: 1;
		transform: translate(0px);
	}
}