* {
	margin:0;
	padding:0;
	box-sizing: border-box;;
}
html {
	font-family: 'Livvic', sans-serif;
}

body {
    font-size:16px;
    overflow-x: hidden;
	background-image:linear-gradient(#474CE4, #ED62CF);
	color: #FFFFFF;
}


/*HEADER*/
header {
	background-color: #000;
}

header img {
	width:30%;
	margin:5px;
}

nav {
	margin:0;
}


.navbar {
	background-color: #000;
	display:flex;
	justify-content: space-around;
	align-items: center;
}

.line {
	width:30px;
	height: 3px;
	background-color: #fff;
	margin: 5px;
}

.burger {
	display: block;
	cursor: pointer;
	margin:1rem;
}

.nav-links {
	position:absolute;
	height:100%; 
	width:100%;
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background:#000;
	transform:translateX(100%);
	transition: .6s ease-in;
	z-index: 2;
}

.nav-active {
	transform: translateX(0%);
}

.nav-links li {
	list-style: none;
	opacity: 0;
}

.nav-links li a {
	color:#fff;
	text-decoration: none;
	font-size:1.7rem;
	letter-spacing: 3px;
	font-weight:600;
}


/*SLIDE*/
.landing1, .landing2 {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
}
.landing1 img {
	width:100%;
}

.choice {
	display: flex;
	flex-wrap: wrap;
	width:100%;
	z-index: 1;
}


.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  transition: .5s ease;
  background-color: #474CE4;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity:1;

}

.text a {
	text-decoration: none;
	font-size: 1.8rem;
	color: #fff;
}



@media screen and (min-width:1024px) {
	.line, .burger {
		display:none;
	}

	.landing1 img {
		width:80%;
	}

	.landing1 {
		background-color: #000;
	}	

	.container  {
		height:50vh;
	}

	.container:hover .overlay {
		opacity: 1;
	}

	.overlay {
		opacity: 0;
	}

	.nav-links {
		transform:translateX(0%);
		height:auto;
		position:relative;
		flex-direction: row;
		justify-content: flex-end;
		padding:2rem;		
	}

	.nav-links li {
		opacity: 1;
		width:13rem;
	}

	.nav-links li a {
		padding:2rem;
	}

	.menulong {
		display:flex;
	}

	.nav-links a:hover {
		background-color:#ED62CF;
	}

	.nav-links a:active {
		font-weight: 900;
		color:#ED62CF;
	}
}


@keyframes navLinkFade {
	from{
		opacity: 0;
		transform: translate(50px);
	}
	to {
		opacity: 1;
		transform: translate(0px);
	}
}