* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
html {
	font-family: 'Livvic', sans-serif;
}
body {
    font-size:16px;
    overflow-x: hidden;
	background-image:linear-gradient(#474CE4, #ED62CF);
	color: #FFFFFF;
}

h2 {
	text-align: center;
	font-size:3rem;
}

h3 {
	font-size:2rem;
}







/*MOBILE*/
/*HEADER*/
header {
	background-color: #000;
}
header img {
	width:30%;
	margin:5px;
}
nav {
	margin:0;
}
.navbar {
	background-color: #000;
	display:flex;
	justify-content: space-around;
	align-items: center;
}
.line {
	width:30px;
	height: 3px;
	background-color: #fff;
	margin: 5px;
}
.burger {
	display: block;
	cursor: pointer;
	margin:1rem;
}
.nav-links {
	position:absolute;
	height:100%; 
	width:100%;
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background:#000;
	transform:translateX(100%);
	transition: .6s ease-in;
	z-index: 2;
	overflow-x: hidden;
}
.nav-active {
	transform: translateX(0%);
}

.nav-links li {
	list-style: none;
	opacity: 0;
}
.nav-links li a {
	color:#fff;
	text-decoration: none;
	font-size:1.7rem;
	letter-spacing: 3px;
	font-weight:600;
}





/*button scroll up*/
#scrollup {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 99;
  font-size: 1.3rem;
  border: none;
  outline: none;
  background-color: #474CE4;
  color: white;
  cursor: pointer;
  padding: 0.6rem 1rem 0.8rem;
  border-radius: 50px;
  font-weight: 500;
}

#scrollup:hover {
  background-color: #ED62CF;
}





/*SECTIONS*/
/*vague*/
.vague {
	display:flex;
	margin:3%;
}
.vague_blanche {
	margin-left: auto;
	margin-right: auto;
	width: 35%;
}






/*SECTION 1 SLIDE*/
.landing1, .landing2 {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
}
.landing1 img {
	width:100%;
}
.choice {
	display: flex;
	flex-wrap: wrap;
	width:100%;
	z-index: 1;}

.bloc {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  transition: .5s ease;
  background-color: #474CE4;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity:1;
  width:100%;
}
.text a {
	text-decoration: none;
	font-size: 1.8rem;
	color: #fff;
	display:block;
}




/*SECTION 2 MUSIC*/

.genre {
    margin-bottom: 10px;
    display: block;
}
    
.titreartiste {
    background-color: white;
    color: #474CE4;
    font-size: 1rem;
    margin-bottom: 10px;
    display: block;
}
    
.date {
    background-color: white;
    color: #474CE4;
    font-size: 1rem;
    margin-bottom: 20px;
    display: block;
}
    
.soundcloud {
	color:white;
    display: block;
    cursor: pointer;
    margin-top: 2%; 
}

.containermusic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    margin-top: 5%;
    width:90%;
    margin:auto;
}
    
.musictexte1, .musictexte2, .musictexte3, .musictexte4 {
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 40%;
}
    
.musicbloc1, .musicbloc2 , .musicbloc3, .musicbloc4 {
    display: flex;
    margin-bottom: 60px;
    justify-content: center;
}  
 
.imgmusicbloc1, .imgmusicbloc2 {
	width:45%;
	margin-right: 20px;
	object-fit: cover;
}

.imgmusicbloc3 {
	width:45%;
	margin-right: 20px;
	object-fit: contain;
	background-color: #fff;
}

.imgmusicbloc4 {
	width:45%;
	margin-right: 20px;
	object-fit: contain;
	background-color: #1c1919;
}


    



/*SECTION 3 FOOD*/
.nomfoodtruck {
    font-size: 1rem;
}

.foodtexte1,.foodtexte3 {
	flex-direction: column;
    display: flex;
    margin:auto;
    width: 50%;
    padding-left:2rem;
}
   
.foodtexte2 {
	flex-direction: column;
    display: flex;
    margin:auto;
    width: 50%;
    padding-right:2rem;
}
   
.foodbloc1, .foodbloc2, .foodbloc3 {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
	width:90%;
}

.imgfoodbloc1, .imgfoodbloc3 {
    width: 50%;
    object-fit: contain;
    background-color: white; 
}

.imgfoodbloc2 {
    width: 50%;
    margin-left: 20px;
    object-fit: contain;
    background-color: white;
}

.menu {
    text-align: center;
    background-color: rgb(96, 147, 206);
    border-radius: 30px;
    width: 10rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.containerfood {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
}
        
.bloc12 {
    display: flex;
    flex-direction: column;
}
   
.bloc34 {
    display: flex;
    flex-direction: column;  
}

.imgfood {
	display: flex;
	justify-content: center;
	width: 50%;
	background-color: #fff;
} 








/*SECTION 4 LOVE*/
.OiAku {
	font-size: 3.5rem;
	font-variant: small-caps;
	font-weight: bold;
	letter-spacing: 0.5rem;
	margin: auto;
	margin-top: 5%;
	width: 80%;	
	text-align: center;
}

.OiAku_traduction {
	font-size: 1rem;
	font-style: italic;
	margin-top: 1%;
	margin-bottom: 2rem;
	text-align: center;
}

.our_history, .trouver_contacter {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	margin:0 4rem;
}

.OiAku_p1, .OiAku_p2, .OiAku_p3 {
	margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 1.2rem;
    font-size: 0.9rem;
    cursor: default;
    transition-property: font-size;
    transition-duration: 4s;
    transition-delay: 2s;
    text-align: center;
}

.OiAku_p1:hover, .OiAku_p2:hover, .OiAku_p3:hover {
	transform: scale(1.2);
	box-shadow: black;
}




/*SECTION 5 CONTACT*/
.où_nous_trouver, .nous_contacter {
	font-size: 1.3rem;
}

.où_nous_trouver {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
   	width: 100%;
}

.nous_contacter {
	background-color: #FFFFFF;
	color: #ED62CF;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    border-radius: 7px;
}

iframe {
    width: 100%;
    margin-top: 2%;
}

form {
	background-color: #FFFFFF;
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: #FFFFFF solid 2rem;
}

input {
	margin-bottom: 0.5rem;
	width: 95%;
	height: 3rem;
	border: solid white 1px;
	border-radius: 10px;
	background-color: #d45fd2;
	color: #9d58d9;
}

input:hover, textarea:hover {
	cursor: text;
	background-color: #9d58d9;
}

textarea {
	width: 95%;
	border: solid white 1px;
	border-radius: 10px;
	background-color: #d45fd2;
	color: #9d58d9;
}

::placeholder {
	color: #FFFFFF;
}

.P_input {
	display: flex;
	justify-content: center;
}

.container_send {
	display: flex;
    height: 1.2rem;
    justify-content: center;
    width: 40%;
}

.send {
	width: 50%;
	height: 2rem;
	margin-top: 0.5rem;
	background-color: #E8E8E2;
}

.send:hover {
	cursor: default;
	background-color: white;
	transform: scale(1.1);
}

.logo_facebook, .logo_instagram, .logo_soundcloud {
	width:  7%;
	height: 7%;
	border-radius: 50%;
	margin:0 1rem;
}

.logos {
	text-align: center;
	margin-bottom: 3%;
}

.logo_facebook:hover, .logo_instagram:hover, .logo_soundcloud:hover {
	cursor: pointer;
	transform: scale(1.25);
}

/*FOOTER*/
.contenu_footer a {
	text-decoration: none;
	color:#fff;
}

footer {
	background-color: black;
	width: 100%;
	height: auto;
}
	
.contenu_footer {
	width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 7rem;
}







/* PARTIE RESPONSIVE. Le choix a été fait de diviser le bloc responsive en 3 sous-blocs : me premier de 0px à 600px, on copie alors
tout le contenu CSS en modifiant les parties s'adaptant à la version mobile ; un second de 600 à 1024px où on a de nouveau recopié
l'ensemble du contenu CSS en modifiant les parties concernées ; un troisième et dernier bloc qui concerne les résolutions supérieures 
à 1024px ; même procédé. Ce n'est pas la méthode la moins économe et la moins gourmande en travail, mais c'est la seule qui fonctionnait. */

/*TABLET*/
@media (min-width: 600px) and (max-width: 1024px) {
	.OiAku {
		width:70%;
	}
      .bloc12 {
        flex-direction: column;
      }
      .bloc34 {
        flex-direction: column;
      }

      .containermusic {
        flex-direction: row;
      } 
}




/*DESKTOP*/
@media screen and (min-width: 1024px) {
	.OiAku {
		width:80%;
		font-size:5rem;
	}

	.our_history {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.OiAku_p1, .OiAku_p2, .OiAku_p3 {
		margin-right: 1.4rem;
	    margin-left: 1.4rem;
	    font-size: 1rem;
	}

	.trouver_contacter {
		display: flex;
		justify-content: space-between;
	}

	.trouver_contacter {
		margin-top: 20px;
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;

	}
	.où_nous_trouver {
    	width: 80%;
	}

	iframe {
	height: 320px;
    width: 80%;
    margin-top: 5px;
	}

	.logo_facebook, .logo_instagram, .logo_soundcloud {
		width:  4%;
		height: 4%;
		border-radius: 50%;
	}

	footer {
		height:4rem;
	}

	.contenu_footer {
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		height:4rem;
	}	

	.line, .burger {
		display:none;
	}
	.landing1 img {
		width:80%;
	}
	.landing1 {
		background-color: #000;
	}	

	.bloc  {
		height:50vh;
	}

	.bloc:hover .overlay {
		opacity: 1;
	}
	.text a {
		display: block;
	}

	.container  {
		height:50vh;
	}
	.container:hover .overlay {
		opacity: 1;
	}

	.overlay {
		opacity: 0;
	}

	.nav-links {
		transform:translateX(0%);
		height:auto;
		position:relative;
		flex-direction: row;
		justify-content: flex-end;
		padding:2rem;	
	}
	.nav-links li {
		opacity: 1;
		width:13rem;
		text-align: center;
	}

	.nav-links li a {
		padding:2rem;
	}

	.menulong {
		display:flex;
	}

	.nav-links a:hover {
		background-color:#ED62CF;
	}

	.nav-links a:active {
		font-weight: 900;
		color:#ED62CF;
	}

    .titreartiste {
        font-size: 2rem;
      }
    
    .date {
        font-size: 2rem;
    }
        
    .imgmusicbloc1, .imgmusicbloc2{
        width: 45%;
        object-fit:cover;
	}

    .imgmusicbloc4 {
        width: 45%;
        object-fit:contain;
        background-color: rgb(19, 18, 18);
	}

	.imgmusicbloc3 {
        width: 45%;
        object-fit:contain;
        background-color: #fff;
	}

    .imgfoodbloc2 {
        width: 50%;
    }

    .containerfood {
        font-size: 1rem;
      }

    .bloc12 {
    	flex-direction: row;
    }
    
    .bloc34 {
    	flex-direction: row;
    }
    
    .musicbloc1, .musicbloc2 , .musicbloc3, .musicbloc4 {
   		 width:50%;
	}  

}


/*animation*/

@keyframes navLinkFade {
	from{
		opacity: 0;
		transform: translate(50px);
	}
	to {
		opacity: 1;
		transform: translate(0px);
	}
}